button{
  cursor: pointer;
  background: none;
  border: none;
}

.btn{
  display: flex;
  justify-content: center;
  font-size: 1.125rem;
  border-radius: .5rem;
  padding: .7rem 1rem;
  &:not(.transparent){
    background: $brand-yellow;
    border: .0625rem solid $golden-yellow;
    &:hover{
      background: $bright-yellow;
    }
    &:focus-visible{
      border-color: $dark-yellow;
      outline: .0625rem solid $dark-yellow;
      outline-offset: 0;
    }
    &:disabled{
      cursor: default;
      color: $grey-600;
      background: $grey-100;
      border-color: $grey-600;
    }
  }
}