.form-cont{
  flex-grow: .7;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

form{
  display: flex;
  flex-flow: column;
  gap: .75rem;
  .switch-auth{
    text-align: center;
    a{
      text-decoration: underline;
      color: $golden-yellow;
    }
  }
}